@font-face {
  font-family: "proximanova-regular";
  src: url("../fonts/proximanova-regular.eot"),
     url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"),
     url("../fonts/proximanova-regular.woff2") format("woff2"),
     url("../fonts/proximanova-regular.woff") format("woff"),
     url("../fonts/proximanova-regular.ttf") format("truetype"),
     url("../fonts/proximanova-regular.svg#proxima_novaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gotham-book";
  src: url("../fonts/gotham-book.eot"),
     url("../fonts/gotham-book.eot?#iefix") format("embedded-opentype"),
     url("../fonts/gotham-book.woff") format("woff"),
     url("../fonts/gotham-book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.p_header {
  width: 100%;
  display: table;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;

  font-family: "gotham-book";
}

.p_social_bar {
  text-align: center;
  margin-bottom: 20px;
}

.p_social_icon {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}