body {
  -webkit-font-smoothing: antialiased;
  background-color: #000000;
  font-family: "proximanova-regular";
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #999999;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.p_copyright_footer {
  margin-bottom: 50px;

  text-align: center;
  color: #999999;
}

a.p_name_label {
  display: table-cell;
  vertical-align: middle;

  text-decoration: none;
  font-size: 32px;
  color: #999999;
}

.p_name_label:hover {
  color: #999999;
}

.p_nav {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-size: 14px;
}

a.p_nav_link {
  color: #CCCCCC;
  text-decoration: none;
  margin-left: 50px;

  -o-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -khtml-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}

.p_nav_link:hover {
  color: #999999;
}

a.p_nav_link_selected, .p_nav_link_selected:hover {
  text-decoration: none;
  margin-left: 50px;
  color: #666666;
}

.p_card_z1 {
  background-color: #222222;
  border-radius: 16px;
}

.p_card_z2 {
  background-color: #222222;
  border-radius: 16px;
}